body {
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #253648;
}
     #iniciopag{
        width: 150px;
        height: 40px;
        padding: 10px;
        border-radius: 8px;
        margin-left: 45%;
        font-size: 16px;
    }

    #iniciopag:hover{
        color:blueviolet;
    }
    tbody{
        font-size: 16px;
    }